//
// Custom sass mixins
//
// To use a mixin in this file, add this line to the top of your .scss file:
//   @import "base";
// Then to use a mixin for a particular rule, add this inside the ruleset's
// curly brackets:
//   @include mix-in-name;


// element-invisible as defined by http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
@mixin element-invisible {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  @if $legacy-support-for-ie6 or $legacy-support-for-ie7 {
    clip: rect(1px 1px 1px 1px); // IE6 and IE7 use the wrong syntax.
  }
  clip: rect(1px, 1px, 1px, 1px);
}

// Turns off the element-invisible effect.
@mixin element-invisible-off {
  position: static !important;
  clip: auto;
  height: auto;
  width: auto;
  overflow: auto;
}

@mixin element-focusable {
  @include element-invisible;

  &:active,
  &:focus {
    @include element-invisible-off;
  }
}

// The word "Unpublished" displayed underneath unpublished nodes and comments.
@mixin unpublished-div {
  height: 0;
  overflow: visible;
  color: #d8d8d8;
  font-size: 75px;
  line-height: 1;
  font-family: Impact, "Arial Narrow", Helvetica, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  word-wrap: break-word; // A very nice CSS3 property

  @if $legacy-support-for-ie6 or $legacy-support-for-ie7 {
    .lt-ie8 &>* {
      position: relative; // Otherwise these elements will appear below the "Unpublished" text.
    }
  }
}

// HPS Mixins
@mixin hpszen-box-emboss($opacity: 0.2, $opacity2: 0.05) {
  @include box-shadow(rgba(white, $opacity) 0 1px 0, rgba(black, $opacity2) 0 1px 0 inset);
}
@mixin hpszen-letterpress($opacity: 0.5) {
  @include text-shadow(rgba(white, $opacity) 0 1px 0);
}
@mixin hpszen-vertical-rule($side, $opacity: 0.2, $opacity2: 0.5) {
  @include apply-side-rhythm-border($side, 1px, 0);
  border-#{$side}-color: rgba(white, $opacity);
  @if $side == left {
    @include single-box-shadow(rgba(black, $opacity2), -1px, 0, 0);
  } @else {
    @include single-box-shadow(rgba(black, $opacity2), 1px, 0, 0);
  }
}

@mixin hpszen-button($from: #fff, $to: #ddd) {
  overflow: visible;
  color: #394651;
  text-transform: lowercase;
  text-decoration: none;
  @include rhythm-borders(1px, 0.5);
  @include border-radius(3px);
  border-color: $to - #111111;
  @include background-image(linear-gradient(left top, $from, $to));
  cursor: pointer;
  &:hover {
    @include background-image(linear-gradient(left top, saturate($from + #111111, 10%), saturate($to + #111111, 10%)));
  }
  &:active {
    @include background-image(linear-gradient(left top, $from, $to));
  }
}
@mixin hpszen-input($width: rhythm(10), $from: #ddd, $to: #fff) {
  width: $width;
  @include rhythm-borders(1px, 0.5);
  border-color: $from - #111111;
  @include background-image(linear-gradient($from, $to));
}
@mixin hpszen-textarea($width: rhythm(10), $from: #ddd, $to:  #fff) {
  border: 1px solid darken($from, 10%);
  @include background-image(linear-gradient(left top, $from, $to));
}
