/**
 * @file
 * HPS Zen theme's slideshow styles.
 */

@import "base";

// @note Assumes .slides and .slide classes have been added to HTML list display settings on a View.
//       Assumes slide image is wrapped in span @see hpszen-responsive image styles.
//       When Javascript is disabled we render default View HTML list.
//       With Javascript enabled we make a slideshow.
//       Assumes using slideshow in content area.
// @see Drupal.behaviors.hpszen
// @see templates/node--hps-featured-content.tpl.php

// @todo Investigate auto zoom and pan for larger slides

@mixin slide-vertical-rhythm($slide-lines: 28, $image-lines: 13, $pager-lines: 4, $clear: false) {
  .cycling {
    ul.slides {
      height: rhythm($slide-lines);
      > li {
        > span {
          // Override default width from hpzen-responsive image styles
          width: 100%;
          display: block;
          height: rhythm($image-lines);
          @include padding-trailer($pager-lines);
        }
      }
    }
    .pager {
      top: rhythm($image-lines);
    }
    @if $clear {
      &:after {
        height: rhythm($slide-lines);
      }
    }
  }
}

// Prevent slides from growing too big
ul.slides,
.pager {
  max-width: 1em / 12 * 900;
}

.cycling { /* jQuery cycle is enabled. */
  position: relative;
  h1, h2, h3 {
    @include adjust-font-size-to($base-font-size);
  }
  // For mobile first single column layout let slides stretch across gutter to fill screen width
  margin: 0 (-1 * $zen-gutter-width / 2);
  ul.slides {
    list-style: none;
    padding: 0;
    margin: 0;
    > li {
      width: 100% !important;
      > span {
        // Fake crop for responsive images.
        max-height: 100%;
        overflow: hidden;
        img {
          margin: 0 auto;
        }
      }
      // For single column add gutter to slide contents (since we are forcing slide image to stretch across gutter
      p,
      > a {
        margin-left: $zen-gutter-width / 2;
        margin-right: $zen-gutter-width / 2;
      }
    }
  }
  .pager {
    position: absolute;
    width: 100%;
    background: rgba(black, 0.5);
    z-index: 10;
    overflow-x: auto;
    white-space: nowrap;
    > a {
      @include adjust-leading-to(4);
      > img {
        height: rhythm(4);
        margin-right: 2px;
      }
      &.activeSlide > img {
        border-bottom: 4px solid orange;
        margin-top: -4px;
      }
    }
  }
  &:after {
    content: "";
    display: block;
    visibility: hidden;
  }
}

// Establish default vertical rhythm for slides in mobile first single layout.
@include slide-vertical-rhythm();

@media screen and (min-width: 1em / 16 * 481) {
  .cycling {
    // Return to use of gutter
    margin: 0;
    ul.slides {
      > li {
        span {
          // For multi-column layouts reset image width to include gutters.
          margin: 0;
        }
        p,
        a {
          margin-left: 0;
          margin-right: 0;
        }
      }
    }
    .pager {
      // For multi-column layouts reset controls width to include gutters.
      margin: 0;
    }
  }
}

@media screen and (min-width: 1em / 16 * 480) and (max-width: 1em / 16 * 599) {
  @include slide-vertical-rhythm(29, 18);
}

@media screen and (min-width: 1em / 16 * 600) and (max-width: 1em / 16 * 959) {
  @include slide-vertical-rhythm(32, 20);
}

@media screen and (min-width: 1em / 16 * 960) {
  @include slide-vertical-rhythm(33, 21);
}
