# Ignore SASS cache files.
.sass-cache/

# Ignore make files intended for local development use
*.local.make

# Ignore modules that are managed by other repositories and symbolically linked
modules/custom/dspaced
modules/custom/views_job_scheduler
