/**
 * @file
 * HPS Zen theme's slideshow styles.
 */
/* line 36, ../sass/slideshow.scss */
.block.cycling {
  /* jQuery cycle is enabled. */
  position: relative;
  margin: 0 -21px;
}
/* line 40, ../sass/slideshow.scss */
.block.cycling h1, .block.cycling h2, .block.cycling h3 {
  font-size: 1em;
  line-height: 1.5em;
}
/* line 43, ../sass/slideshow.scss */
.block.cycling ul.slides {
  list-style: none;
  padding: 0;
  margin: 0;
}
/* line 47, ../sass/slideshow.scss */
.block.cycling ul.slides li.slide {
  width: 100% !important;
}
/* line 49, ../sass/slideshow.scss */
.block.cycling ul.slides li.slide .node .field-type-image {
  overflow: hidden;
}
/* line 52, ../sass/slideshow.scss */
.block.cycling ul.slides li.slide .node .field-type-image img {
  margin: 0 auto;
}
/* line 58, ../sass/slideshow.scss */
.block.cycling ul.slides li.slide header,
.block.cycling ul.slides li.slide p {
  margin-left: 21px;
  margin-right: 21px;
}
/* line 64, ../sass/slideshow.scss */
.block.cycling .pager {
  position: absolute;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 10;
  overflow-x: auto;
  white-space: nowrap;
}
/* line 71, ../sass/slideshow.scss */
.block.cycling .pager > a {
  line-height: 6em;
}
/* line 73, ../sass/slideshow.scss */
.block.cycling .pager > a > img {
  height: 6em;
  margin-right: 2px;
}
/* line 77, ../sass/slideshow.scss */
.block.cycling .pager > a.activeSlide > img {
  border-bottom: 4px solid orange;
  margin-top: -4px;
}
/* line 83, ../sass/slideshow.scss */
.block.cycling:after {
  content: "";
  display: block;
  visibility: hidden;
}

/* line 17, ../sass/slideshow.scss */
.block.cycling ul.slides {
  height: 33em;
}
/* line 20, ../sass/slideshow.scss */
.block.cycling ul.slides li.slide .node .field-type-image {
  height: 19.5em;
}
/* line 25, ../sass/slideshow.scss */
.block.cycling .pager {
  top: 13.5em;
}

@media screen and (min-width: 480px) {
  /* line 94, ../sass/slideshow.scss */
  .block.cycling {
    margin: 0;
  }
  /* line 99, ../sass/slideshow.scss */
  .block.cycling ul.slides li.slide .node .field-type-image {
    margin: 0;
  }
  /* line 104, ../sass/slideshow.scss */
  .block.cycling ul.slides li.slide header,
  .block.cycling ul.slides li.slide p {
    margin-left: 0;
    margin-right: 0;
  }
  /* line 110, ../sass/slideshow.scss */
  .block.cycling .pager {
    margin: 0;
  }
}
@media screen and (min-width: 480px) and (max-width: 599px) {
  /* line 17, ../sass/slideshow.scss */
  .block.cycling ul.slides {
    height: 40.5em;
  }
  /* line 20, ../sass/slideshow.scss */
  .block.cycling ul.slides li.slide .node .field-type-image {
    height: 27em;
  }
  /* line 25, ../sass/slideshow.scss */
  .block.cycling .pager {
    top: 21em;
  }
}
@media screen and (min-width: 600px) and (max-width: 959px) {
  /* line 17, ../sass/slideshow.scss */
  .block.cycling ul.slides {
    height: 42em;
  }
  /* line 20, ../sass/slideshow.scss */
  .block.cycling ul.slides li.slide .node .field-type-image {
    height: 30em;
  }
  /* line 25, ../sass/slideshow.scss */
  .block.cycling .pager {
    top: 24em;
  }
}
@media screen and (min-width: 960px) and (max-width: 1599px) {
  /* line 17, ../sass/slideshow.scss */
  .block.cycling ul.slides {
    height: 43.5em;
  }
  /* line 20, ../sass/slideshow.scss */
  .block.cycling ul.slides li.slide .node .field-type-image {
    height: 31.5em;
  }
  /* line 25, ../sass/slideshow.scss */
  .block.cycling .pager {
    top: 25.5em;
  }
}
@media screen and (min-width: 1600px) {
  /* line 17, ../sass/slideshow.scss */
  .block.cycling ul.slides {
    height: 49.5em;
  }
  /* line 20, ../sass/slideshow.scss */
  .block.cycling ul.slides li.slide .node .field-type-image {
    height: 39em;
  }
  /* line 25, ../sass/slideshow.scss */
  .block.cycling .pager {
    top: 33em;
  }
}
