/**
 * @file
 * Views Styling
 */
/*
 * Views' admin tabs
 *
 * The views admin tabs use the same classes as the secondary tabs. We prevent
 * some of our tab styling from bleeding into (and breaking) the Views admin
 * pages. If your sub-theme isn't used for admin pages, you can remove this
 * entire section.
 */
/* line 18, ../sass/views-styles.scss */
.views-displays .secondary li {
  float: none;
  margin: 0 6px 0;
}
/* line 24, ../sass/views-styles.scss */
.views-displays .secondary a:link,
.views-displays .secondary a:visited {
  text-shadow: none;
  padding: 2px 7px 3px;
}
/* line 29, ../sass/views-styles.scss */
.views-displays .secondary .open > a {
  -webkit-border-radius: 7px 7px 0 0;
  -moz-border-radius: 7px 7px 0 0;
  -ms-border-radius: 7px 7px 0 0;
  -o-border-radius: 7px 7px 0 0;
  border-radius: 7px 7px 0 0;
}
/* line 31, ../sass/views-styles.scss */
.views-displays .secondary .open > a:hover {
  color: #333;
}
/* line 36, ../sass/views-styles.scss */
.views-displays .secondary .action-list li {
  margin: 0;
}
/* line 38, ../sass/views-styles.scss */
.views-displays .secondary .action-list li:first-child {
  -webkit-border-radius: 0 7px 0 0;
  -moz-border-radius: 0 7px 0 0;
  -ms-border-radius: 0 7px 0 0;
  -o-border-radius: 0 7px 0 0;
  border-radius: 0 7px 0 0;
}
/* line 41, ../sass/views-styles.scss */
.views-displays .secondary .action-list li:last-child {
  -webkit-border-radius: 0 0 7px 7px;
  -moz-border-radius: 0 0 7px 7px;
  -ms-border-radius: 0 0 7px 7px;
  -o-border-radius: 0 0 7px 7px;
  border-radius: 0 0 7px 7px;
}

/* line 51, ../sass/views-styles.scss */
.view-display-id-panel_pane_gallery .view-content > div {
  border-top-style: solid;
  border-top-width: 0.07143em;
  padding-top: 1.42857em;
  border-top-color: rgba(0, 0, 0, 0.5);
  margin-top: 1.5em;
}
/* line 55, ../sass/views-styles.scss */
.view-display-id-panel_pane_gallery .view-content > div:nth-of-type(1) {
  border: none;
}

/* line 63, ../sass/views-styles.scss */
.pane-display-mode-links-content-type h2 {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}
/* line 66, ../sass/views-styles.scss */
.pane-display-mode-links-content-type ul.display-modes {
  line-height: 4.5em;
  list-style-type: none;
}
/* line 5, ../../../../../../../../../.rvm/gems/ruby-1.9.3-p194@hps/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/lists/_inline-list.scss */
.pane-display-mode-links-content-type ul.display-modes, .pane-display-mode-links-content-type ul.display-modes li {
  margin: 0px;
  padding: 0px;
  display: inline;
}
/* line 29, ../../../../../../../../../.rvm/gems/ruby-1.9.3-p194@hps/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/lists/_inline-list.scss */
.pane-display-mode-links-content-type ul.display-modes li:after {
  content: "|";
}
/* line 31, ../../../../../../../../../.rvm/gems/ruby-1.9.3-p194@hps/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/lists/_inline-list.scss */
.pane-display-mode-links-content-type ul.display-modes li:last-child:after {
  content: "";
}
/* line 34, ../../../../../../../../../.rvm/gems/ruby-1.9.3-p194@hps/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/lists/_inline-list.scss */
.pane-display-mode-links-content-type ul.display-modes li.last:after {
  content: "";
}

@media all and (min-width: 600px) and (max-width: 719px) {
  /* line 77, ../sass/views-styles.scss */
  .view-display-id-panel_pane_gallery .view-content > div {
    width: 47.5%;
    float: left;
  }
  /* line 80, ../sass/views-styles.scss */
  .view-display-id-panel_pane_gallery .view-content > div:nth-child(2n+1) {
    margin-right: 5%;
    clear: left;
  }
  /* line 84, ../sass/views-styles.scss */
  .view-display-id-panel_pane_gallery .view-content > div:nth-child(2n) {
    margin-right: 0;
  }
  /* line 87, ../sass/views-styles.scss */
  .view-display-id-panel_pane_gallery .view-content > div:nth-of-type(2) {
    border: none;
  }
}
@media all and (min-width: 720px) and (max-width: 1199px) {
  /* line 99, ../sass/views-styles.scss */
  .view-display-id-panel_pane_gallery .view-content > div {
    width: 30%;
    float: left;
  }
  /* line 102, ../sass/views-styles.scss */
  .view-display-id-panel_pane_gallery .view-content > div:nth-child(3n+1) {
    margin-right: 5%;
    clear: left;
  }
  /* line 106, ../sass/views-styles.scss */
  .view-display-id-panel_pane_gallery .view-content > div:nth-child(3n+2) {
    margin-right: 5%;
  }
  /* line 109, ../sass/views-styles.scss */
  .view-display-id-panel_pane_gallery .view-content > div:nth-child(3n) {
    margin-right: 0;
  }
  /* line 113, ../sass/views-styles.scss */
  .view-display-id-panel_pane_gallery .view-content > div:nth-of-type(2), .view-display-id-panel_pane_gallery .view-content > div:nth-of-type(3) {
    border: none;
  }
}
@media all and (min-width: 1200px) and (max-width: 1999px) {
  /* line 125, ../sass/views-styles.scss */
  .view-display-id-panel_pane_gallery .view-content > div {
    width: 21.25%;
    float: left;
  }
  /* line 128, ../sass/views-styles.scss */
  .view-display-id-panel_pane_gallery .view-content > div:nth-child(4n+1) {
    margin-right: 5%;
    clear: left;
  }
  /* line 133, ../sass/views-styles.scss */
  .view-display-id-panel_pane_gallery .view-content > div:nth-child(4n+2), .view-display-id-panel_pane_gallery .view-content > div:nth-child(4n+3) {
    margin-right: 5%;
  }
  /* line 136, ../sass/views-styles.scss */
  .view-display-id-panel_pane_gallery .view-content > div:nth-child(4n) {
    margin-right: 0;
  }
  /* line 141, ../sass/views-styles.scss */
  .view-display-id-panel_pane_gallery .view-content > div:nth-of-type(2), .view-display-id-panel_pane_gallery .view-content > div:nth-of-type(3), .view-display-id-panel_pane_gallery .view-content > div:nth-of-type(4) {
    border: none;
  }
}
@media all and (min-width: 2000px) {
  /* line 153, ../sass/views-styles.scss */
  .view-display-id-panel_pane_gallery .view-content > div {
    width: 16%;
    float: left;
  }
  /* line 156, ../sass/views-styles.scss */
  .view-display-id-panel_pane_gallery .view-content > div:nth-child(5n+1) {
    margin-right: 5%;
    clear: left;
  }
  /* line 162, ../sass/views-styles.scss */
  .view-display-id-panel_pane_gallery .view-content > div:nth-child(5n+2), .view-display-id-panel_pane_gallery .view-content > div:nth-child(5n+3), .view-display-id-panel_pane_gallery .view-content > div:nth-child(5n+4) {
    margin-right: 5%;
  }
  /* line 165, ../sass/views-styles.scss */
  .view-display-id-panel_pane_gallery .view-content > div:nth-child(5n) {
    margin-right: 0;
  }
  /* line 171, ../sass/views-styles.scss */
  .view-display-id-panel_pane_gallery .view-content > div:nth-of-type(2), .view-display-id-panel_pane_gallery .view-content > div:nth-of-type(3), .view-display-id-panel_pane_gallery .view-content > div:nth-of-type(4), .view-display-id-panel_pane_gallery .view-content > div:nth-of-type(5) {
    border: none;
  }
}
