/**
 * @file
 * RTL companion for the responsive-sidebars.css file.
 */
/**
 * @file
 * Positioning for responsive layout.
 *
 * Uses the Zen Grids plugin for Compass: http://zengrids.com
 */
/* line 17, ../../sass/layouts/responsive-sidebars.scss */
#page,
.region-bottom {
  margin-left: auto;
  margin-right: auto;
}

/**
 * Container for grid items and flow items.
 */
/* line 52, ../../sass-extensions/zen-grids/stylesheets/zen/_grids.scss */
#page:before, #page:after {
  content: "";
  display: table;
}
/* line 56, ../../sass-extensions/zen-grids/stylesheets/zen/_grids.scss */
#page:after {
  clear: both;
}

/* line 39, ../../sass/layouts/responsive-sidebars.scss */
#header,
#navigation,
#content,
.panel-hpszen-primary-box,
.region-sidebar-first,
.region-sidebar-second,
#footer {
  padding-left: 21px;
  padding-right: 21px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
}

/* line 43, ../../sass/layouts/responsive-sidebars.scss */
#content {
  padding: 3%;
}

/* line 56, ../../sass/layouts/responsive-sidebars.scss */
.hpszen-primary-box #content .breadcrumb,
.hpszen-primary-box #content .messages,
.hpszen-primary-box #content > h1,
.hpszen-primary-box #content > h2,
.hpszen-primary-box #content > .tabs {
  padding-left: 21px;
  padding-right: 21px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  clear: right;
}

/* line 68, ../../sass/layouts/responsive-sidebars.scss */
#main,
#navigation,
#content,
#footer,
#secondary-menu,
.panel-hpszen-primary-box {
  clear: right;
}

/* line 73, ../../sass/layouts/responsive-sidebars.scss */
#name-and-slogan h1 {
  font-size: 2.5em;
  line-height: 1.2em;
}
/* line 76, ../../sass/layouts/responsive-sidebars.scss */
#name-and-slogan h2 {
  font-size: 1.5em;
  line-height: 2em;
}

/* line 80, ../../sass/layouts/responsive-sidebars.scss */
#logo {
  font-size: 2.5em;
  line-height: 1.2em;
  line-height: 1.8em;
  margin-top: 0.6em;
  margin-right: 0.6em;
}
/* line 85, ../../sass/layouts/responsive-sidebars.scss */
#logo img {
  max-height: 1.8em;
}

/* line 92, ../../sass/layouts/responsive-sidebars.scss */
#secondary-menu .block-menu .block-title,
#secondary-menu .block-menu-block .block-title {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}

@media all and (min-width: 600px) {
  /* line 99, ../../sass/layouts/responsive-sidebars.scss */
  #name-and-slogan {
    float: left;
  }
  /* line 101, ../../sass/layouts/responsive-sidebars.scss */
  #name-and-slogan h1 {
    font-size: 3.5em;
    line-height: 1.28571em;
    margin-top: 0.6em;
  }
  /* line 105, ../../sass/layouts/responsive-sidebars.scss */
  #name-and-slogan h2 {
    font-size: 1.5em;
    line-height: 2em;
  }

  /* line 109, ../../sass/layouts/responsive-sidebars.scss */
  #logo {
    font-size: 3.5em;
    line-height: 1.28571em;
    line-height: 1.28571em;
    margin-top: 0.42857em;
    margin-right: 0.42857em;
  }
  /* line 114, ../../sass/layouts/responsive-sidebars.scss */
  #logo img {
    max-height: 1.28571em;
  }

  /* line 120, ../../sass/layouts/responsive-sidebars.scss */
  #secondary-menu {
    float: right;
    clear: none;
  }
  /* line 123, ../../sass/layouts/responsive-sidebars.scss */
  #secondary-menu ul {
    line-height: 4.5em;
    list-style-type: none;
  }
  /* line 5, ../../../../../../../../../../.rvm/gems/ruby-1.9.3-p194@hps/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/lists/_inline-list.scss */
  #secondary-menu ul, #secondary-menu ul li {
    margin: 0px;
    padding: 0px;
    display: inline;
  }
  /* line 29, ../../../../../../../../../../.rvm/gems/ruby-1.9.3-p194@hps/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/lists/_inline-list.scss */
  #secondary-menu ul li:after {
    content: "|";
  }
  /* line 31, ../../../../../../../../../../.rvm/gems/ruby-1.9.3-p194@hps/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/lists/_inline-list.scss */
  #secondary-menu ul li:last-child:after {
    content: "";
  }
  /* line 34, ../../../../../../../../../../.rvm/gems/ruby-1.9.3-p194@hps/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/lists/_inline-list.scss */
  #secondary-menu ul li.last:after {
    content: "";
  }
  /* line 127, ../../sass/layouts/responsive-sidebars.scss */
  #secondary-menu a {
    padding: 0.75em;
  }

  /* line 133, ../../sass/layouts/responsive-sidebars.scss */
  #navigation .block-menu .block-title,
  #navigation .block-menu-block .block-title {
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
  }
  /* line 137, ../../sass/layouts/responsive-sidebars.scss */
  #navigation .block-menu > ul {
    float: left;
    padding: 0;
  }
  /* line 140, ../../sass/layouts/responsive-sidebars.scss */
  #navigation .block-menu > ul > li {
    float: left;
    list-style-position: inside;
    margin-right: 21px;
  }
  /* line 147, ../../sass/layouts/responsive-sidebars.scss */
  #navigation .block-menu ul a {
    padding: 0 0.75em;
  }
}
@media all and (min-width: 600px) and (max-width: 719px) {
  /* line 168, ../../sass/layouts/responsive-sidebars.scss */
  #header,
  #navigation,
  #footer,
  #content {
    float: right;
    width: 100%;
    margin-right: 0%;
    margin-left: -100%;
  }

  /* line 174, ../../sass/layouts/responsive-sidebars.scss */
  .one-sidebar .region-sidebar-first,
  .one-sidebar .region-sidebar-second {
    float: right;
    width: 100%;
    margin-right: 0%;
    margin-left: -100%;
  }

  /* line 180, ../../sass/layouts/responsive-sidebars.scss */
  .two-sidebars .region-sidebar-first {
    float: right;
    width: 50%;
    margin-right: 0%;
    margin-left: -50%;
  }
  /* line 183, ../../sass/layouts/responsive-sidebars.scss */
  .two-sidebars .region-sidebar-second {
    float: right;
    width: 50%;
    margin-right: 50%;
    margin-left: -100%;
  }

  /* line 196, ../../sass/layouts/responsive-sidebars.scss */
  .hpszen-primary-box #content .breadcrumb,
  .hpszen-primary-box #content .messages,
  .hpszen-primary-box #content > h1,
  .hpszen-primary-box #content > h2,
  .hpszen-primary-box #content > .tabs,
  .hpszen-primary-box #content .panel-hpszen-primary-box {
    float: right;
    width: 100%;
    margin-right: 0%;
    margin-left: -100%;
  }

  /* line 203, ../../sass/layouts/responsive-sidebars.scss */
  .region-footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* line 205, ../../sass/layouts/responsive-sidebars.scss */
  .region-footer .block {
    padding-left: 21px;
    padding-right: 21px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
  }
  /* line 208, ../../sass/layouts/responsive-sidebars.scss */
  .region-footer .block:nth-child(2n+1) {
    float: right;
    width: 50%;
    margin-right: 0%;
    margin-left: -50%;
    clear: right;
    /* Start a new row */
  }
  /* line 212, ../../sass/layouts/responsive-sidebars.scss */
  .region-footer .block:nth-child(2n) {
    float: right;
    width: 50%;
    margin-right: 50%;
    margin-left: -100%;
  }
}
@media all and (min-width: 720px) and (max-width: 1199px) {
  /* line 225, ../../sass/layouts/responsive-sidebars.scss */
  #header,
  #navigation,
  #footer,
  .no-sidebars #content {
    float: right;
    width: 100%;
    margin-right: 0%;
    margin-left: -100%;
  }

  /* line 231, ../../sass/layouts/responsive-sidebars.scss */
  .one-sidebar #content {
    float: right;
    width: 66.66667%;
    margin-right: 0%;
    margin-left: -66.66667%;
  }
  /* line 235, ../../sass/layouts/responsive-sidebars.scss */
  .one-sidebar .region-sidebar-first,
  .one-sidebar .region-sidebar-second {
    float: right;
    width: 33.33333%;
    margin-right: 66.66667%;
    margin-left: -100%;
  }

  /* line 241, ../../sass/layouts/responsive-sidebars.scss */
  .two-sidebars #content {
    float: right;
    width: 66.66667%;
    margin-right: 0%;
    margin-left: -66.66667%;
  }
  /* line 244, ../../sass/layouts/responsive-sidebars.scss */
  .two-sidebars .region-sidebar-first {
    float: right;
    width: 33.33333%;
    margin-right: 66.66667%;
    margin-left: -100%;
  }
  /* line 248, ../../sass/layouts/responsive-sidebars.scss */
  .two-sidebars .region-sidebar-second {
    float: right;
    width: 100%;
    margin-right: 0%;
    margin-left: -100%;
    padding-left: 0;
    padding-right: 0;
    clear: right;
    /* Start new row */
  }
  /* line 253, ../../sass/layouts/responsive-sidebars.scss */
  .two-sidebars .region-sidebar-second .block {
    padding-left: 21px;
    padding-right: 21px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
  }
  /* line 256, ../../sass/layouts/responsive-sidebars.scss */
  .two-sidebars .region-sidebar-second .block:nth-child(3n+1) {
    float: right;
    width: 33.33333%;
    margin-right: 0%;
    margin-left: -33.33333%;
    clear: right;
    /* Start a new row */
  }
  /* line 260, ../../sass/layouts/responsive-sidebars.scss */
  .two-sidebars .region-sidebar-second .block:nth-child(3n+2) {
    float: right;
    width: 33.33333%;
    margin-right: 33.33333%;
    margin-left: -66.66667%;
  }
  /* line 263, ../../sass/layouts/responsive-sidebars.scss */
  .two-sidebars .region-sidebar-second .block:nth-child(3n) {
    float: right;
    width: 33.33333%;
    margin-right: 66.66667%;
    margin-left: -100%;
  }

  /* line 270, ../../sass/layouts/responsive-sidebars.scss */
  .region-footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* line 272, ../../sass/layouts/responsive-sidebars.scss */
  .region-footer .block {
    padding-left: 21px;
    padding-right: 21px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
  }
  /* line 275, ../../sass/layouts/responsive-sidebars.scss */
  .region-footer .block:nth-child(3n+1) {
    float: right;
    width: 33.33333%;
    margin-right: 0%;
    margin-left: -33.33333%;
    clear: right;
    /* Start a new row */
  }
  /* line 279, ../../sass/layouts/responsive-sidebars.scss */
  .region-footer .block:nth-child(3n+2) {
    float: right;
    width: 33.33333%;
    margin-right: 33.33333%;
    margin-left: -66.66667%;
  }
  /* line 282, ../../sass/layouts/responsive-sidebars.scss */
  .region-footer .block:nth-child(3n) {
    float: right;
    width: 33.33333%;
    margin-right: 66.66667%;
    margin-left: -100%;
  }

  /* line 296, ../../sass/layouts/responsive-sidebars.scss */
  .hpszen-primary-box #content .breadcrumb,
  .hpszen-primary-box #content .messages,
  .hpszen-primary-box #content > h1,
  .hpszen-primary-box #content > h2,
  .hpszen-primary-box #content > .tabs,
  .hpszen-primary-box #content .panel-hpszen-primary-box {
    float: right;
    width: 100%;
    margin-right: 0%;
    margin-left: -100%;
  }
}
@media all and (min-width: 1200px) and (max-width: 1999px) {
  /* line 308, ../../sass/layouts/responsive-sidebars.scss */
  #header,
  #navigation,
  #footer,
  .no-sidebars #content {
    float: right;
    width: 83.33333%;
    margin-right: 8.33333%;
    margin-left: -91.66667%;
  }

  /* line 314, ../../sass/layouts/responsive-sidebars.scss */
  .one-sidebar #content {
    float: right;
    width: 50%;
    margin-right: 8.33333%;
    margin-left: -58.33333%;
  }
  /* line 318, ../../sass/layouts/responsive-sidebars.scss */
  .one-sidebar .region-sidebar-first,
  .one-sidebar .region-sidebar-second {
    float: right;
    width: 29.16667%;
    margin-right: 62.5%;
    margin-left: -91.66667%;
  }

  /* line 325, ../../sass/layouts/responsive-sidebars.scss */
  .two-sidebars #content {
    float: right;
    width: 50%;
    margin-right: 8.33333%;
    margin-left: -58.33333%;
  }
  /* line 328, ../../sass/layouts/responsive-sidebars.scss */
  .two-sidebars .region-sidebar-first {
    float: right;
    width: 29.16667%;
    margin-right: 62.5%;
    margin-left: -91.66667%;
  }
  /* line 332, ../../sass/layouts/responsive-sidebars.scss */
  .two-sidebars .region-sidebar-second {
    float: right;
    width: 83.33333%;
    margin-right: 8.33333%;
    margin-left: -91.66667%;
    padding-left: 0;
    padding-right: 0;
    clear: right;
    /* Start new row */
  }
  /* line 337, ../../sass/layouts/responsive-sidebars.scss */
  .two-sidebars .region-sidebar-second .block {
    padding-left: 21px;
    padding-right: 21px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
  }
  /* line 340, ../../sass/layouts/responsive-sidebars.scss */
  .two-sidebars .region-sidebar-second .block:nth-child(3n+1) {
    float: right;
    width: 29.16667%;
    margin-right: 0%;
    margin-left: -29.16667%;
    clear: right;
    /* Start a new row */
  }
  /* line 344, ../../sass/layouts/responsive-sidebars.scss */
  .two-sidebars .region-sidebar-second .block:nth-child(3n+2) {
    float: right;
    width: 33.33333%;
    margin-right: 33.33333%;
    margin-left: -66.66667%;
  }
  /* line 347, ../../sass/layouts/responsive-sidebars.scss */
  .two-sidebars .region-sidebar-second .block:nth-child(3n) {
    float: right;
    width: 29.16667%;
    margin-right: 70.83333%;
    margin-left: -100%;
  }

  /* line 354, ../../sass/layouts/responsive-sidebars.scss */
  .region-footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* line 356, ../../sass/layouts/responsive-sidebars.scss */
  .region-footer .block {
    padding-left: 21px;
    padding-right: 21px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
  }
  /* line 359, ../../sass/layouts/responsive-sidebars.scss */
  .region-footer .block:nth-child(3n+1) {
    float: right;
    width: 29.16667%;
    margin-right: 0%;
    margin-left: -29.16667%;
    clear: right;
    /* Start a new row */
  }
  /* line 363, ../../sass/layouts/responsive-sidebars.scss */
  .region-footer .block:nth-child(3n+2) {
    float: right;
    width: 33.33333%;
    margin-right: 33.33333%;
    margin-left: -66.66667%;
  }
  /* line 366, ../../sass/layouts/responsive-sidebars.scss */
  .region-footer .block:nth-child(3n) {
    float: right;
    width: 29.16667%;
    margin-right: 70.83333%;
    margin-left: -100%;
  }

  /* line 381, ../../sass/layouts/responsive-sidebars.scss */
  .hpszen-primary-box #content .breadcrumb,
  .hpszen-primary-box #content .messages,
  .hpszen-primary-box #content > h1,
  .hpszen-primary-box #content > h2,
  .hpszen-primary-box #content > .tabs,
  .hpszen-primary-box #content .panel-hpszen-primary-box {
    float: right;
    width: 100%;
    margin-right: 0%;
    margin-left: -100%;
  }
}
@media all and (min-width: 2000px) {
  /* line 395, ../../sass/layouts/responsive-sidebars.scss */
  #header,
  #navigation,
  #footer,
  .no-sidebars #content {
    float: right;
    width: 70.37037%;
    margin-right: 14.81481%;
    margin-left: -85.18519%;
  }

  /* line 400, ../../sass/layouts/responsive-sidebars.scss */
  .one-sidebar #content {
    float: right;
    width: 40.74074%;
    margin-right: 14.81481%;
    margin-left: -55.55556%;
  }
  /* line 404, ../../sass/layouts/responsive-sidebars.scss */
  .one-sidebar .region-sidebar-first,
  .one-sidebar .region-sidebar-second {
    float: right;
    width: 14.81481%;
    margin-right: 59.25926%;
    margin-left: -74.07407%;
  }

  /* line 410, ../../sass/layouts/responsive-sidebars.scss */
  .two-sidebars #content {
    float: right;
    width: 40.74074%;
    margin-right: 14.81481%;
    margin-left: -55.55556%;
  }
  /* line 413, ../../sass/layouts/responsive-sidebars.scss */
  .two-sidebars .region-sidebar-first {
    float: right;
    width: 14.81481%;
    margin-right: 59.25926%;
    margin-left: -74.07407%;
  }
  /* line 416, ../../sass/layouts/responsive-sidebars.scss */
  .two-sidebars .region-sidebar-second {
    float: right;
    width: 11.11111%;
    margin-right: 74.07407%;
    margin-left: -85.18519%;
  }

  /* line 422, ../../sass/layouts/responsive-sidebars.scss */
  .region-footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* line 424, ../../sass/layouts/responsive-sidebars.scss */
  .region-footer .block {
    padding-left: 21px;
    padding-right: 21px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
  }
  /* line 427, ../../sass/layouts/responsive-sidebars.scss */
  .region-footer .block:nth-child(3n+1) {
    float: right;
    width: 40.74074%;
    margin-right: 14.81481%;
    margin-left: -55.55556%;
    clear: right;
    /* Start a new row */
  }
  /* line 431, ../../sass/layouts/responsive-sidebars.scss */
  .region-footer .block:nth-child(3n+2) {
    float: right;
    width: 14.81481%;
    margin-right: 59.25926%;
    margin-left: -74.07407%;
  }
  /* line 434, ../../sass/layouts/responsive-sidebars.scss */
  .region-footer .block:nth-child(3n) {
    float: right;
    width: 11.11111%;
    margin-right: 74.07407%;
    margin-left: -85.18519%;
  }

  /* line 448, ../../sass/layouts/responsive-sidebars.scss */
  .hpszen-primary-box #content .breadcrumb,
  .hpszen-primary-box #content .messages,
  .hpszen-primary-box #content > h1,
  .hpszen-primary-box #content > h2,
  .hpszen-primary-box #content > .tabs,
  .hpszen-primary-box #content .panel-hpszen-primary-box {
    float: right;
    width: 100%;
    margin-right: 0%;
    margin-left: -100%;
  }
}
/* line 459, ../../sass/layouts/responsive-sidebars.scss */
.hpszen-primary-box #content {
  padding-left: 0;
  padding-right: 0;
  padding: 3%;
}
